.boby
  .header
    .header__logo__box
      .header__logo
        = link_to image_tag('scorpion.png', :size =>'45x45'), '/'

    .link__box
      #nav
      %a{:href => "/"} ホーム
      %a{:href => new_home_path} 入会案内
      %a{:href => "#"} よくあるご質問
      %a{:href => "#"} スケジュール
      %a{:href => "#"} Youtube
      %a{:href => "#"} 連絡先
      %a{:href => "#"} アクセス
    %nav.globalMenuSp
      %ul
        %li
          %a{:href => "/"} ホーム
        %li
          %a{:href => new_home_path} 入会案内
        %li
          %a{:href => "#"} よくあるご質問
        %li
          %a{:href => "#"} スケジュール
        %li
          %a{:href => "#"} Youtube
        %li
          %a{:href => "#"} アクセス
    .navToggle
      %span
      %span
      %span
      %span menu
