.boby
  .header
    .header__logo__box
      .header__logo
        = link_to image_tag('scorpion.png', :size =>'45x45'), '/'

    .link__box
      #nav
      %a{:href => "/"} ホーム
      %a{:href => new_home_path} 入会案内
      -# %a{:href => faq_homes_path} インストラクター
      %a{:href => faq_homes_path} よくあるご質問
      %a{:href => schedule_homes_path} スケジュール
      %a{:href => "https://www.youtube.com/channel/UCyyTvF-Lv-381-sRtIE23tw"} Youtube
      %a{:href => "#"} アクセス
    %nav.globalMenuSp
      %ul
        %li
          %a{:href => "/"} ホーム
        %li
          %a{:href => new_home_path} 入会案内
        -# %li
        -#   %a{:href => schedule_homes_path} インストラクター
        %li
          %a{:href => faq_homes_path} よくあるご質問
        %li
          %a{:href => schedule_homes_path} スケジュール
        %li
          %a{:href => "https://www.youtube.com/channel/UCyyTvF-Lv-381-sRtIE23tw"} Youtube
        %li
          %a{:href => "#"} アクセス
    .navToggle
      %span
      %span
      %span
      %span menu
