.body


  .content
    .center__box
      %h2よくあるご質問
      %h4格闘技を始めるにあたって…
      %h4スコーピオンジムで格闘技を始めるにあたり、よくあるご質問や不安に思う事をまとめました。記載以外に不明な点やご質問は072-743-2822にお問い合わせください。
      
      %h3見学してみたいのですが、格闘技って怖い人達がやっているイメージがあり、ジムの入り口を入る勇気がありません。
      A. スコーピオンジムは非常にアットホームな雰囲気ですのでご安心ください。"見学＝入会"ではございませんので、お気軽にお越しください。
      %h3格闘技も運動も未経験で肥満体系です。体力も無いし怪我も怖いのですが大丈夫でしょうか？
      A. 入会する人の９割以上は未経験者です。水分補給も自由ですし、その人に応じ た無理の無いプログラムを提案しますので安心して練習できます。
      %h3全部のクラスに参加するとなると、追加料金は必要ですか？
      A. どのクラスにどれだけ参加しても月会費は同じです。
      %h3体験したいのですが、服装などは？
      A. 基本的に動きやすい服装（短パンジャージ・Tシャツ等）で大丈夫です。あと、タオルとドリンクもご持参ください。
      %h3中年なのですが入会できますか？
      A. 年齢を気にすることはありません。当ジムでは特に未経験から始めた40歳代の方が元気よく汗を流してます。
      %h3仕事があるので行けない日が続いたり、行けても遅くなったりするのですが？
      A. 当道場は開館時間内でしたらいつ来ても良いですし、早退も自由です。
      %h3 ダイエットに向いてますか？
      A. 体の筋肉の全てを使うのでダイエットは勿論のこと、ストレス発散や健康作りには最適です。
      %h3護身術として有効ですか？
      A. 打撃から寝技まで学べるので護身術としては最適です。
      %h3プロとまでは思ってませんが強くなる事は可能でしょうか？
      A. 肉体面も精神面も強くなれます。もちろん本人の志が重要ですが、現にプロ選手も在籍しておりますので、積極的に練習して格闘技を好きになる事が近道です。
      %h3試合に出なくてはいけないのですか？
      A. 当道場生はプロ志望者から健康維持程度などさまざまな目的で練習していますので試合出場などの強制は一切ありません。




