.body



    

  .contents__box__top
    
    .slider
      .slider__content
        %img.slider__img{:alt => "slider_image1", :src => "assets/slider_image1.png"}
      .slider__content
        %img.slider__img{:alt => "slider_image1", :src => "assets/slider_image2.png"}/
      .slider__content
        %img.slider__img{:alt => "slider_image1", :src => "assets/slider_image3.png"}/
    


