<nav class="globalMenuSp">
    <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">入会案内</a></li>
        <li><a href="#">料金よくあるご質問</a></li>
        <li><a href="#">スケジュール</a></li>
        <li><a href="#">アクセス</a></li>
    </ul>
</nav>
<div class="navToggle">
    <span></span><span></span><span></span><span>menu</span>
</div>
