.boby
  .header
    .header__logo__box
      .header__logo
        = link_to image_tag('scorpion.png', :size =>'45x45'), '/'

    .link__box
      #nav
      %a{:href => "#"} ホーム
      %a{:href => "#"} 入会案内
      %a{:href => "#"} よくあるご質問
      %a{:href => "#"} スケジュール
      %a{:href => "#"} アクセス
      
    %nav.globalMenuSp
      %ul
        %li
          %a{:href => "#"} ホーム
        %li
          %a{:href => "#"} 入会案内
        %li
          %a{:href => "#"} よくあるご質問
        %li
          %a{:href => "#"} スケジュール
        %li
          %a{:href => "#"} アクセス
    .navToggle
      %span
      %span
      %span
      %span menu

    

  .contents__box__top
    .slider
      .slider__content
        %img.slider__img{:alt => "slider_image1", :src => "assets/slider_image1.png"}/
      .slider__content
        %img.slider__img{:alt => "slider_image1", :src => "assets/slider_image2.png"}/
      .slider__content
        %img.slider__img{:alt => "slider_image1", :src => "assets/slider_image3.png"}/

  .footer 
    %h1フッター
  











