%nav.globalMenuSp
  %ul
    %li
      %a{:href => "#"} HOME
    %li
      %a{:href => "#"} 入会案内
    %li
      %a{:href => "#"} 料金よくあるご質問
    %li
      %a{:href => "#"} スケジュール
    %li
      %a{:href => "#"} アクセス
.navToggle
  %span
  %span
  %span
  %span menu
