.body



    

  .contents__box__top
    .example
      %img{src: "assets/222.png"}/
      .hero
        .hero__text
          %h1.text-reveal
            %span ブラジリアン柔術を
            %span スコーピオンジムで学ぶ
          %p.text-reveal
            %span  あなたのライフスタイルに合わせて
            %span 欧米をはじめアジアで人気沸騰の競技「ブラジリアン柔術」をやってみませんか？

    -# .slider
    -#   .slider__content
    -#     %img.slider__img{:alt => "slider_image1", :src => "assets/slider_image1.png"}
    -#   .slider__content
    -#     %img.slider__img{:alt => "slider_image1", :src => "assets/slider_image2.png"}/
    -#   .slider__content
    -#     %img.slider__img{:alt => "slider_image1", :src => "assets/slider_image3.png"}/
    

    -# .hero
    -#   .hero__text
    -#     %h1.text-reveal
    -#       %span ブラジリアン柔術を
    -#       %span スコーピオンジムで学ぶ
    -#     %p.text-reveal
    -#       %span  あなたのライフスタイルに合わせて
    -#       %span 欧米をはじめアジアで人気沸騰の競技
    -#       %span 「ブラジリアン柔術をやってみませんか？？」
