.body


.contents__box__top
  .center__box
    %h3スケジュール
    %h4スコーピオンジムは月曜日から土曜日まで。ご自分の都合に合わせて練習できるスケジュールとなっております。  
  .wrap   
    %table
      %thead
        %tr
          %th{:scope => "col"} 
          %th{:scope => "col"} 月
          %th{:scope => "col"} 火
          %th{:scope => "col"} 水
          %th{:scope => "col"} 木
          %th{:scope => "col"} 金
          %th{:scope => "col"} 土
          %th{:scope => "col"} 日
      %tbody
        %tr
          %th 〜10時
          %td CLOSE
          %td CLOSE
          %td CLOSE	
          %td CLOSE
          %td CLOSE
          %td CLOSE
          %td CLOSE or Events
        %tr
        %tr
          %th 10時〜
          %td CLOSE
          %td CLOSE
          %td CLOSE	
          %td CLOSE	
          %td CLOSE	
          %td.price 柔術   初級  クラス	
          %td CLOSE or Events
        %tr
          %th 12時〜20時
          %td CLOSE	
          %td CLOSE	
          %td CLOSE	
          %td CLOSE	
          %td CLOSE	
          %td CLOSE	
          %td CLOSE or Events
        %tr
          %th 20時〜
          %td.price柔術     フリースパー
          %td.price柔術  オールレベル
          %td.price柔術 OpenMat
          %td.price No-Giオールレベル
          %td.price柔術  オールレベル
          %td CLOSE 
          %td CLOSE orEvents
        %tr
        %tr
        %th 22時〜
        %td.price柔術 OpenMat
        %td.price柔術 OpenMat
        %td.price柔術 OpenMat
        %td.price柔術 OpenMat
        %td.price柔術 OpenMat
        %td CLOSE 
        %td CLOSE orEvents  
        %tr
        %tr
        %th 22時30分〜
        %td CLOSE
        %td CLOSE
        %td CLOSE	
        %td CLOSE
        %td CLOSE
        %td CLOSE
        %td CLOSE orEvents  
      %tr
  .info__box     
    %h3選べるクラス
    %h5スコーピオンジムではあなたのレベルに合わせて練習ができます。下は10代から上は50代まで。体力や技量を各インストラクターがサポートしながら楽しく正しく格闘技を学べます。日常の仕事とプライベートの中で無理なく、個人の思いと技量で練習に参加して楽しんでください。
    .triple
      = link_to image_tag("jiu.png", class:"triple"), "/"
      = link_to image_tag("grap.png", class:"triple"), "/"
      = link_to image_tag("kick.png", class:"triple"), "/"




