
  .content {
    background-color: #f0f0f0;
    border: 1px solid #c0c0c0;
    padding: 30px;
  .center__box {
    font-size: 13px;
    width: 864px;
    line-height:1;
    margin: 0 auto;
    
    
    h2, h3 {
      background-color: #333;
      color: #fff;
      padding: .35em;
    }
  }
} 
    