body {
  a:visited { color: #575652; text-decoration:none }
  .header { 
    height: 70px;
    display: flex;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    .header__logo__box {
      width: 100px;
      height: 70px;
      .header__logo {
        text-align: center;
        margin: 12px;
      }
    }
    
    .link__box {
      height: 40px;
      width: 800px;
      text-align: center;
      line-height: 40px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      a {
        text-decoration: none;
        position: relative;
        display: inline-block;
      }
      a::after {
        position: absolute;
        bottom: 2px;
        left: 0;
        content: '';
        width: 100%;
        height: 2px;
        background: #333;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
      }
      a:hover::after {
        bottom: -4px;
        opacity: 1;
        visibility: visible;
      }
      #nav ul li{ 	
        display: inline;
        
        
    } 
        }
  
    nav.globalMenuSp {
      position: fixed;
      z-index: 6;
      top: 0;
      left: 0;
      background: #fff;
      color: #000;
      text-align: center;
      transform: translateY(-100%);
      transition: all 0.3s;
      width: 100%;
      opacity: 0.8;

      ul {
        background-color: transparent;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        padding: 100px 0 0 !important;
        font-weight: bold;

        li {
          font-size: 1.1em;
          list-style-type: none;
          padding: 0;
          width: 100%;
          border-bottom: 1px dotted #333;

          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }

          a {
            display: block;
            color: #000;
            padding: 1em 0;
          }
        }
      }
    
      &.active {
        transform: translateY(0%);
      }
    }
    .navToggle {
      display: block;
      // position: fixed;
      position: absolute;
  
      /* bodyに対しての絶対位置指定 */
      right: 20px;
      top: 18px;
      width: 42px;
      height: 51px;
      cursor: pointer;
      z-index: 6;
      background: #666;
      text-align: center;
  
      span {
        display: block;
        position: absolute;
  
        /* .navToggleに対して */
        width: 30px;
        border-bottom: solid 3px #eee;
        -webkit-transition: .35s ease-in-out;
        -moz-transition: .35s ease-in-out;
        transition: .35s ease-in-out;
        left: 6px;
  
        &:nth-child(1) {
          top: 9px;
        }
  
        &:nth-child(2) {
          top: 18px;
        }
  
        &:nth-child(3) {
          top: 27px;
        }
  
        &:nth-child(4) {
          border: none;
          color: #eee;
          font-size: 9px;
          font-weight: bold;
          top: 34px;
        }
      }
  
      &.active span {
        &:nth-child(1) {
          top: 18px;
          left: 6px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
  
        &:nth-child(2), &:nth-child(3) {
          top: 18px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  
    /* 最初のspanをマイナス45度に */
  
    /* 2番目と3番目のspanを45度に */
    // .contents {
    // background-image: url("gym1.png");
    // height: 700px;
    // width: 700px;
    // margin: 0 auto;
    // margin: 200px,;
    // background-size: cover;
    // }
  }
  /* 最後はラインを描かない */

  /* このクラスを、jQueryで付与・削除する */

  
  

  .contents__box__top {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    padding: 100px;
    .slider{
      // width: 70vw;
      height: calc(70vw * 0.8);
      margin: 0 auto;
      overflow: hidden;
      position: relative;
  }
        
      .slider__content{
          min-width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(100%);
      }
        
      .slider__content:nth-child(1){
          animation: sliderAnime 18s ease-in-out infinite;
          z-index: 6;
      }
        
      .slider__content:nth-child(2){
          animation: sliderAnime2 18s ease-in-out 3s infinite;
          z-index: -1;
      }
        
      .slider__content:nth-child(3){
          animation: sliderAnime2 18s ease-in-out 9s infinite;
          z-index: -1;
      }
        
      @keyframes sliderAnime{
          0%{
              z-index: 5;
              transform: translateX(0);
          }
          16.6%{
              transform: translateX(0);
          }
          33.3%{
              transform: translateX(-100%);
          }
          50%{
              z-index: -1;
              transform: translateX(-100%);
          }
          66.6%{
              transform: translateX(100%);
          }
          83.2%{
              z-index: 5;
              transform: translateX(100%);
          }
          100%{
              z-index: 5;
              transform: translateX(0);
          }
      }
      
    @keyframes sliderAnime2{
        0%{
            z-index: 5;
            transform: translateX(100%);
        }
        16.6%{
            transform: translateX(0);
        }
        33.3%{
            transform: translateX(0);
        }
        50%{
            transform: translateX(-100%);
        }
        66.6%{
            z-index: -1;
            transform: translateX(-100%);
        }
        83.2%{
            transform: translateX(100%);
        }
        100%{
            z-index: 5;
            transform: translateX(100%);
        }
    }
      
    .slider__img{
        max-width: 100%;
        min-width: 100%;
    }
    }
  .footer {
    background: #666666;
    color: #ffffff;
    height: 300px;
    display: flex;
    // flex-flow: column;
    // min-height: 35vh;
  }
}
 


    