
  .contents__box__top {
    background-color: #f0f0f0;
    border: 1px solid #c0c0c0;
    padding: 30px;
  .center__box {
    width: 864px;
    line-height:1;
    margin: 0 auto;
    padding: 20px;
    
    
  }
    table {
      border-collapse: collapse;
      margin: 0 auto;
      padding: 0;
      width: 850px;
      table-layout: fixed;
    
      tr {
        background-color: #fff;
        padding: .35em;
        border: 2px solid #eee;
    
        &:last-child {
          border: none;
        }
      }
    
      th {
        padding: 1em;
        border-right: 2px solid #fff;
      }
    
      td {
        padding: 1em .5em;
        border-right: 2px solid #eee;
        text-align: center;
      }
    
      th {
        font-size: .85em;
      }
    
      thead tr {
        background-color: #333;
        color: #fff;
      }
    
      tbody th {
        border-right: 2px solid #eee;
      }
    }
    
    th.non {
      border-right: none;
    }
    
    .txt {
      text-align: left;
      font-size: .85em;
    }
    
    .price {
      color: RED;
      font-weight: bold;
      font-size: 1.0em;
    
      span {
        font-size: .6em;
      }
    }
    
    .red_bk {
      background: #e81010;
    }
    
    .red-txt {
      color: #e81010;
    }
    
    .btn {
      background: #e81010;
      border: 2px solid #e81010;
      color: #fff;
      padding: 1em;
      border-radius: 20px;
      display: block;
      text-decoration: none;
      font-size: 0.8em;
    
      &:hover {
        background: #fff;
        border: 2px solid #e81010;
        color: #e81010;
        transition: .2s;
      }
    }
    
    table .btnarea td {
      padding: .2em .5em;
      border-right: none;
    }
    
    @media screen and (max-width: 600px) {
      .wrap {
        overflow-x: scroll;
      }
    }
    .info__box   {
      width: 864px;
      line-height:1;
      margin: 0 auto;
      box-sizing: border-box;
        h5 {
          text-decoration: none;
        }
        .triple {
          box-sizing: border-box;
          height: 180px;
          display: flex;
          margin: 0 auto;
          justify-content: space-between;
        }
        .triple:hover {
          
      }
    }
  }
  h3 {
    background-color: #333;
    color: #fff;
    padding: .35em;
  }
